<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cloudino | Confirmation</title>
  </head>
  <body>
    <h1>Cloudino Password Recovery</h1>
    <p>{0}, to recover your password you we need that you enter to the next link:</p>
    <p><a href="http://cloudino.io/passwordRecovery?k={1}">Confirmation link</a></p>
    <p>or copy and paste the next link to your favorite browser: <br> http://cloudino.io/passwordRecovery?k={1}</p>
  </body>
</html>